body {
  font-family: 'Open Sans', sans-serif;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
  background-image: url('../images/country.png');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  display: inline-block;
  margin: 0;
  padding: 0;
}
